__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.idea/
.vscode/
.DS_Store
node_modules/
bridges/cpp/libcompute.so
bridges/rust/target/
bridges/rust/Cargo.lock
docker-compose.override.yml
.env
backend/.env
frontend/.env
bridges/node/.env
bridges/cpp/.env
bridges/rust/.env